<% layout('../layouts/boilerplate') -%>

<body>
    <h3>Explore the world with WanderLust</h3>

<h6>    find your Favourite places to visit and book hotels here.
</h6>

<div class="card col-6 offset-3 show-card listing-card" >
    <img src="<%=Details.image%>" class="card-img-top show-img" alt="listing_image">
    <div class="card-body">
      <p class="card-text">
       
      </p>
    </div>
  </div>
</body>
